body, html {
    height: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image: url('../images/background_image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* semi-transparent background */
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .company-name {
    font-weight: bold;
  }
  
  .nav-links a, .button {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .nav-links a:hover, .button:hover {
    background-color: #555;
  }

  title {
    background-color: black;
  }
  
  .content {
    background-color: #ffffff; /* White background for the content area */
    padding: 20px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for a subtle 3D effect */
    text-align: center; /* Center text within the content div */
  }
  