/* customer_input.css */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.form-wrapper select,
.form-wrapper input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}


.return__statement__wrapper.hidden {
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}