body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent background */
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.company-name {
  font-weight: bold;
}

.nav-links a, .button {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover, .button:hover {
  background-color: #555;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: grid;
  grid-gap: 10px;
  width: 300px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  background: #0066ff;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056e8;
}
