body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f7;
     /* Or any other light background color */
  }
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px; /* Width of the navigation bar */
    height: 100%;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Full width of the navbar container */
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #555;
  }

  .central-container {
    text-align: center;
    color: #333; /* Dark text for readability */
  }
  
  .main-heading {
    font-size: 2.5rem; /* Big, impactful size */
    margin-bottom: 0.5rem; /* Space between heading and subheading */
  }
  
  .sub-heading {
    font-size: 1rem; /* Smaller font size for the subheading */
    margin-bottom: 2rem; /* Space between subheading and button */
  }
  
  .talk-button {
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    background-color: #007bff; /* A shade of blue, associated with links and clickable items */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button hover effect */
  }
  
  .talk-button:hover {
    background-color: #0056b3; /* Darker shade of blue for hover effect */
  }
  
  /* This is for ensuring that the content is vertically centered in all screens */
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  