body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .header {
    text-align: center;
    position: relative;
    color: white;
    padding: 100px;
    background: url('/Users/zhihaoxu/Financial_Management/Background .jpeg') no-repeat center center;
    background-size: cover;
  }
  .header-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  